@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45.4 42% 95%;
    --foreground: 45.4 5% 10%;
    --card: 45.4 42% 90%;
    --card-foreground: 45.4 5% 15%;
    --popover: 45.4 42% 95%;
    --popover-foreground: 45.4 95% 10%;
    --primary: 45.4 93.4% 47.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 7.399999999999999 30% 85%;
    --muted-foreground: 45.4 5% 35%;
    --accent: 7.399999999999999 30% 80%;
    --accent-foreground: 45.4 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 45.4 5% 90%;
    --border: 45.4 30% 50%;
    --input: 45.4 30% 18%;
    --ring: 45.4 93.4% 47.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 45.4 42% 10%;
    --foreground: 45.4 5% 90%;
    --card: 45.4 42% 10%;
    --card-foreground: 45.4 5% 90%;
    --popover: 45.4 42% 5%;
    --popover-foreground: 45.4 5% 90%;
    --primary: 45.4 93.4% 47.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.4 30% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7.399999999999999 30% 18%;
    --muted-foreground: 45.4 5% 60%;
    --accent: 7.399999999999999 30% 18%;
    --accent-foreground: 45.4 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 45.4 5% 90%;
    --border: 45.4 30% 18%;
    --input: 45.4 30% 18%;
    --ring: 45.4 93.4% 47.5%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-2xl font-semibold leading-none tracking-tight;
    margin-bottom: 1em;
  }
  h2 {
    @apply text-xl font-semibold leading-none tracking-tight;
    margin-bottom: 0.7em;
  }
  h3 {
    @apply text-lg font-semibold leading-none tracking-tight;
    margin-bottom: 0.5em;
  }
}

@layer utilities {
  .hover-darken {
    transition: background-color 0.3s ease;
  }
  .hover-darken:hover {
    filter: brightness(0.95);
  }
  .classic-link {
    @apply font-medium underline hover:bg-black/10;
  }
  .prose {
    h1 {
      margin-bottom: 0.7em;
    }
    h2 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    h3 {
      margin-top: 0.8em;
      margin-bottom: 0.3em;
    }
  }
  .bg-radial {
    background: rgb(235, 179, 11);
    background: radial-gradient(
      circle,
      rgba(235, 179, 11, 0.48363095238095233) 0%,
      rgba(248, 245, 237, 1) 52%
    );
  }
  .bg-landing-1 {
    background: rgb(248, 245, 237);
    background: linear-gradient(
      237deg,
      rgba(248, 245, 237, 1) 39%,
      rgba(235, 179, 11, 1) 100%
    );
  }
  .bg-landing-2 {
    background: rgb(220, 192, 189);
    background: linear-gradient(
      318deg,
      rgba(220, 192, 189, 1) 0%,
      rgba(248, 245, 237, 1) 61%
    );
  }
}
